<html>
    <head>

    </head>
    <body>

        <h1>
            My Contact List
        </h1>
        <form action = "/create-contact" method = "POST">
            <input type = "text" name = "name" placeholder = "Enter Name">
            <input type = "text" name = "phone" placeholder="Enter Phone Number">
            <button type = "submit">Add Contact</button>
        </form>
    </body>
</html>